.seccion
	&__aptitudes
		background-color white
		
.seccion
	& .aptitudes
		mix-flex-row()
		flex-wrap wrap
		width 100%
		justify-content center
		&--elemento
			color #333333
			font-size 0.8rem
			padding 0.3rem
			border 1px solid #aaaaaa
			background-color #DDDDDD
			border-radius 10px
			margin-bottom 0.3rem
			margin-right 0.5rem
			&:last-child
				margin-right 0