.seccion
	&__contacto
		background-color $black
		
.seccion
	& .contacto
		mix-flex-row()
		justify-content space-between
		flex-wrap wrap
		width 50%
		&--elemento
			a
				color $white
		&--footer
			margin 0 auto
			margin-top 0.5rem
			font-size 0.6rem
			color $white