.seccion
	&__habilidades
		background-color white
	& .habilidades
		mix-flex-row()
		justify-content space-between
		width 100%
		&--elemento
			padding-top 0.5rem
			mix-flex-column()
			&--imagen
				height 64px
				img
					width 64px